/* reset */

*{
    margin: 0;
    padding:0;
}

/* estilos generales */

body{
    background-image: linear-gradient(rgb(152, 67, 233), rgb(173, 119, 224));
}

/* estilos del header */

header{
    background-color: white;
    padding: 10px;
    height: 225px;
}


header nav ul {
    list-style: none;
    gap: 40px;
}

header nav ul li{
    list-style: none;
    font-size: 19px;
    font-weight: bold;
    color: white;
    letter-spacing: 2px;
    font-family: 'PT Serif', serif;
    background-color:rgb(152, 67, 233);
    padding: 10px;
    border-radius: 30px;
    margin-right: 2rem;

    
}


header nav ul li:hover{
    background-color:rgb(248, 248, 99);
    transform:scale(1.1);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.548);
    text-decoration:none;

}


/* estilos del main */

main img{

    float: left; 
}
 
main h1{
        color: white;
        text-align: center;
        padding: 15px;
        font-family: 'Courier New', Courier, monospace;
        font-size: 40px;
        font-weight: bold;
    
}

main p{
    color: rgb(248, 248, 23);
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    letter-spacing: 2px;
    margin: 40px;
}


/* estilos del footer */


footer{
background-color: white;
width: 100%;
height: 30px;
color: rgb(143, 51, 230);
position: fixed;
bottom: 0%;
}

/* estilos contenedor productos */

.contenedorProducto{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-bottom: 40px;

}

.producto{
    margin: 10px;    

}

/* estilos imagenes productos */ 

.productoImagen{
    width: 350px;
    margin-bottom: 10px;
    box-shadow: 3px 3px 3px rgb(116, 109, 109);
}

.productoImagen:hover {
    transition:all .5s ease-in-out;
    webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;;
    }

/* estilo boton ver producto */

.botonVer {
    font-size: 19px;
    font-weight: bold;
    color: rgb(143, 51, 230);
    letter-spacing: 2px;
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    border-radius: 30px;
    text-align: center;
    box-shadow: 3px 3px 5px rgb(95, 93, 93);
}

.botonVer:hover{
    background-color:rgb(248, 248, 99);
    transform:scale(0.9);
    text-decoration:none;
}

/* estilos pagina preguntas */

.textoPreguntas {
    text-align: center;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.textoPreguntas h2{
    color: whitesmoke;
}

.pregunta1, .pregunta2{
    animation-name: animacionTexto;
    animation-iteration-count: initial;
    animation-duration: 2s;
}

@keyframes animacionTexto {
    0%{
        transform: scale(0);
    }


    100%{
        transform: scale(1);
    }

}

/* estilos blog */

/* estilos articulos blog */

.articuloBlog {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}


.articuloBlog img {
    width: 350px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.articuloBlog .text-container {
    flex: 1;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.articuloBlog h2, .articuloBlog p {
    text-align: center;
}


/*estilos formulario contactos */

.formularioContacto{
    color: whitesmoke;
    margin: 10px;
    font-weight: bold;
    text-decoration: underline;

}

/* estilos pagina de preguntas grid*/

main{
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;

    grid-template-areas:
    "titulo"
    "p"
    "tituloDos"
    "pDos";
    justify-content: center;
    justify-items: center;
}

.pregunta1 h2{
    grid-area: titulo;
}

.pregunta1 p{
    grid-area: p;
}

.pregunta2 h2{
    grid-area: tituloDos;
}

.pregunta1 p{
    grid-area: tituloDos;
}

/* estilo de pantallas de celulares */

@media screen and (max-width:600px){


}
