/* reset */
* {
  margin: 0;
  padding: 0; }

/* estilos generales */
body {
  background-image: linear-gradient(#9843e9, #ad77e0); }

/* estilos del header */
header {
  background-color: white;
  padding: 10px;
  height: 225px; }

header nav ul {
  list-style: none;
  gap: 40px; }
  header nav ul li {
    list-style: none;
    font-size: 19px;
    font-weight: bold;
    color: white;
    letter-spacing: 2px;
    font-family: 'PT Serif', serif;
    background-color: #9843e9;
    padding: 10px;
    border-radius: 30px;
    margin-right: 3rem; }
    header nav ul li:hover {
      background-color: #f8f863;
      transform: scale(1.1);
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.548);
      text-decoration: none; }

/* estilos del main */
main img {
  float: left; }

main h1 {
  color: white;
  text-align: center;
  padding: 15px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
  font-weight: bold; }

main p {
  color: #f8f863;
  font-weight: bolder;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  letter-spacing: 2px;
  margin: 40px; }

/* estilos del footer */
footer {
  background-color: white;
  width: 100%;
  height: 30px;
  color: #8f33e6;
  position: unset;
  bottom: 0%; }

/*estilos productos*/
main .contenedorProducto {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  flex-wrap: wrap;
  margin-bottom: 40px; }

main .contenedorProducto .producto {
  margin: 10px; }

main .contenedorProducto .productoImagen {
  width: 350px;
  margin-bottom: 10px;
  box-shadow: 3px 3px 3px #746d6d; }
  main .contenedorProducto .productoImagen:hover {
    transition: all .5s ease-in-out;
    webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d; }

main .contenedorProducto .producto .productoDescripcion .botonVer:hover {
  background-color: #f8f863;
  transform: scale(0.9);
  text-decoration: none; }

/* aplicacion grid */
.listaProductos {
  display: grid;
  grid-template-columns: auto;
  grid-auto-rows: auto;
  grid-template-areas: "tituloProd" "contenedorProducto"; }

.tituloProd {
  grid-area: tituloProd; }

.contenedorProducto {
  grid-area: contenedorProducto; }

/*estilos preguntas */
.textoPreguntas {
  text-align: center;
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 30px; }
  .textoPreguntas h2 {
    color: whitesmoke; }

/*animaciones texto preguntas*/
.textoPreguntas .pregunta1 {
  animation-name: animacionTexto;
  animation-iteration-count: initial;
  animation-duration: 2s; }

.textoPreguntas .pregunta2 {
  animation-name: animacionTexto;
  animation-iteration-count: initial;
  animation-duration: 2s; }

@keyframes animacionTexto {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

/*aplicacion de grid */
main {
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "titulo" "p" "tituloDos" "pDos";
  justify-content: center;
  justify-items: center; }

.pregunta1 h2 {
  grid-area: titulo; }

.pregunta1 p {
  grid-area: p; }

.pregunta2 h2 {
  grid-area: tituloDos; }

.pregunta2 p {
  grid-area: pDos; }

/* estilos del blog */
.articuloBlog {
  display: flex;
  align-items: center;
  margin-bottom: 20px; }

.articuloBlog img {
  width: 350px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px; }

/* grid areas */
.contenedorBlog {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "nombreBlog" "contenedorArticulos" "footerBlog";
  justify-content: center;
  justify-items: center; }

.nombreBlog {
  grid-area: nombreBlog; }

.contenedorArticulos {
  grid-area: contenedorArticulos; }

.footerBlog {
  grid-area: footerBlog; }

/* aplicacion flex */
.articuloBlog .text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center; }

.articuloBlog h2 {
  text-align: center;
  display: flex;
  justify-content: center; }

.articuloBlog p {
  text-align: center;
  display: flex;
  justify-content: center; }

/* estilo pantallas celulares */
@media screen and (max-width: 600px) {
  .articuloBlog h2 {
    font-size: 1rem; }
  .articuloBlog p {
    font-size: 0.8rem; }
  .articuloBlog img {
    width: 50%; }
  /* estilos del footer */
  footer h3 {
    font-size: 15px;
    text-align: center; }
  /* estilos header */
  header {
    display: flex;
    justify-content: space-evenly; }
    header nav img {
      width: 23rem; }
    header nav ul li {
      background-color: #a670d8;
      border-style: double; } }

/*estilos contacto*/
.formularioContacto {
  color: whitesmoke;
  margin: 10px;
  font-weight: bold;
  text-decoration: underline;
  text-align: center; }

main section form fieldset {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  grid-template-rows: auto;
  gap: 10px;
  grid-template-areas: "nombre inputNombre"  "correo inputCorreo"  "telefono inputTelefono"  "consulta inputConsulta"; }

.nombre {
  grid-area: nombre; }

.inputNombre {
  grid-area: inputNombre; }

.correo {
  grid-area: correo; }

.inputCorreo {
  grid-area: inputCorreo; }

.telefono {
  grid-area: telefono; }

.inputTelefono {
  grid-area: inputTelefono; }

.consulta {
  grid-area: consulta; }

.inputConsulta {
  grid-area: inputConsulta; }

/* aplicacion extend a botones */
main .contenedorProducto .producto .productoDescripcion .botonVer {
  font-size: 19px;
  font-weight: bold;
  color: #8f33e6;
  letter-spacing: 2px;
  font-family: 'Courier New', Courier, monospace;
  background-color: white;
  border-radius: 30px;
  text-align: center;
  box-shadow: 3px 3px 5px #5f5d5d; }

/* aplicacion mixins */
