/* reset */

*{
    margin: 0;
    padding:0;
}


//variables //

@import "../scss/variables/variables";


/* estilos generales */

body{
    background-image: linear-gradient($color-primario, rgb(173, 119, 224));
}

/* estilos del header */

header{
    background-color: white;
    padding: 10px;
    height: 225px;
}

header{
    nav{
        ul{
            list-style: none;
            gap: 40px;
            li{
                list-style: none;
                font-size: 19px;
                font-weight: bold;
                color: white;
                letter-spacing: 2px;
                font-family: 'PT Serif', serif;
                background-color:$color-primario;
                padding: 10px;
                border-radius: 30px;
                margin-right: 3rem;
                &:hover{
                    background-color:$color-amarillo;
                    transform:scale(1.1);
                    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.548);
                    text-decoration:none;

                }
            }
        }
    }
}

/* aplicacion grid */

.contenedorPrincipal{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: auto;

    grid-template-areas: 
    "imagenIndex aside";
}

.imagenIndex{
    grid-area: imagenIndex;
    margin: 0.5rem;
}

.aside{
    grid-area: aside;
}

.footerIndex{
    grid-area: footerIndex;
}

/* estilos del main */

main{
    img{
        width: 100%;
        display: inline-block;
    }
}

main{
    h1{
        color: white;
        text-align: center;
        padding: 15px;
        font-family: 'Courier New', Courier, monospace;
        font-size: 40px;
        font-weight: bold;
    }
}

main{
    p{
        color: $color-amarillo;
        font-weight: bolder;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
        letter-spacing: 2px;
        margin: 40px;
    }
}

/* estilos del footer */

footer{
    background-color: white;
    width: 100%;
    height: 30px;
    color: rgb(143, 51, 230);
    position:unset;
    bottom: 0%;
    }


/*estilos productos*/

@import "../scss/paginas/productos";

/*estilos preguntas */

@import "../scss/paginas/preguntas";

//estilos blog//
@import "../scss/paginas/blog";

/*estilos contacto*/

@import "../scss/paginas/contacto";

/* aplicacion extend a botones */

%botones {
    font-size: 19px;
    font-weight: bold;
    color: rgb(143, 51, 230);
    letter-spacing: 2px;
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    border-radius: 30px;
    text-align: center;
    box-shadow: 3px 3px 5px rgb(95, 93, 93);
}

/* aplicacion mixins */

@mixin animaciones{
    animation-name: animacionTexto;
    animation-iteration-count: initial;
    animation-duration: 2s;
}

